# .gitignore - PowerShell module

###> general/editors ###

# IntelliJ IDEA
.idea/*
!.idea/dataSources.xml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
###>

###> general/secret ###

# secrets
secrets/*
###>

###> source/temp ###

# distribution
dist/*
build/*
###>
